<div class="about-container primary-background-color">
    <div fxFlex="80%" fxFlexOffset="10%" fxLayout="column" fxLayoutGap="50px">
        <section fxLayout="column" fxLayoutGap="12px">
            <div fxLayout fxLayoutAlign="center center" fxLayoutGap="8px">
                <div class="about-dash accent-background-color">
                </div>
        
                <div class="accent-color">
                    <span class="about-text">about</span>
                </div>
        
                <div class="about-dash accent-background-color"></div>
            </div>
        
            <div class="mat-display-1" fxLayout fxLayoutAlign="center center">
                <div>
                    <span class="font-bold-i">ABOUT MYSELF</span>
                </div>
            </div>
        
            <div class="mat-body" fxLayout fxLayoutAlign="center center">
                <div fxFlex="50">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</span>
                </div>
            </div>
        </section>

        <section fxLayout>
            <div fxFlex="60">
                <div class="margin-right-8px">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        
            <div fxFlex="40">
                Text
            </div>
        </section>
    </div>
</div>
