.intro-background {
    height: 100vh;
    background-image: url(/assets/images/jpg/profile.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.intro-background::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
}