<div class="intro-background color-white">
    <div fxFlex="80%" fxFlexOffset="10%" fxLayout="column" fxLayoutAlign="center start">
        <div class="zIndex-1" fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="column" fxLayoutGap="12px">
                <div class="mat-display-1">
                    <span>I Am Name Surname</span>
                </div>
    
                <div class="mat-display-1 font-700-i margin-0-i" fxLayout fxLayoutGap=".2em">
                    <div>
                        <span>I AM A</span>
                    </div>
                    <div class="accent-color">
                        <span>DEVELOPER</span>
                    </div>
                </div>
            </div>

            <div class="mat-body" fxLayout>
                <div fxFlex="50">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</span>
                </div>
            </div>

            <div>
                <button mat-raised-button color="accent">
                    <span>Download CV</span>
                </button>
            </div>
        </div>
    </div>
</div>