<nav fxFlexFill fxLayout="column" fxLayoutAlign="center stretch">
    <ul class="nav-ul padding-0 margin-0" fxLayout fxLayoutAlign="space-between center" fxLayoutGap="30px">
        <li>
            <a>
                <span class="accent-color">HOME</span>
            </a>
        </li>

        <li>
            <a>
                <span>ABOUT</span>
            </a>
        </li>

        <li>
            <a>
                <span>SKILLS</span>
            </a>
        </li>

        <li>
            <a>
                <span>SERVICES</span>
            </a>
        </li>

        <li>
            <a>
                <span>PORTFOLIO</span>
            </a>
        </li>

        <li>
            <a>
                <span>TESTIMONIAL</span>
            </a>
        </li>

        <li>
            <a>
                <span>BLOG</span>
            </a>
        </li>

        <li>
            <a>
                <span>CONTACT</span>
            </a>
        </li>
    </ul>

    <div>
        <app-elevator></app-elevator>
    </div>
</nav>
