@import "app/material/theme/maintain";
@import "app/material/theme/colors";

@mixin app-colors($theme) {
    @include universal-colors($theme);
}

@import "app/material/theme/type/blueGray-amber";
@include angular-material-theme($blueGrayAmber-theme);
@include app-colors($blueGrayAmber-theme);

@import "app/material/theme/type/blueGray-lime";
.blueGrayLime-theme {
    @include angular-material-theme($blueGrayLime-theme);
    @include app-colors($blueGrayLime-theme);
    
    transition: all 300ms;
}

/*Space*/
.padding-0 {
    padding: 0;
}

.margin-0-i {
    margin: 0 !important;
}

.margin-right-8px {
    margin-right: 8px;
}

/*Dimension*/
.height-100p {
    height: 100%;
}

.max-height-100p {
    max-height: 100%;
}

.dimension-24px-i {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}

/*Position*/
.absolute-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.fixed-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.zIndex-1 {
    z-index: 1;
}

.zIndex-2 {
    z-index: 2;
}

/*Text*/
.font-bold {
    font-weight: bold;
}

.font-bold-i {
    font-weight: bold !important;
}

.font-700 {
    font-weight: 700;
}

.font-700-i {
    font-weight: 700 !important;
}

/*Scroll*/
.scroll {
    scroll-behavior: smooth;
  }
  
.scroll.x-scroll {
    overflow-x: auto;
}

.scroll.y-scroll {
    overflow-y: auto;
}
